<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
	<title>Renegade Bass Tournaments</title>
	<%= stylesheet_link_tag 'style'%>
</head>	

<body>
	<%= render :partial => "notice"%>
	
	<%= yield %>
</body>	
</html>